/* Chart.JS responsive fix
=================================================================== */
canvas.chartjs {
  width: 100% !important;
  max-width: 2000px;
  height: auto !important;
}
/* Widget Stats
=================================================================== */
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.smallstat {
  background: white;
  position: relative;
  text-align: right;
  margin-bottom: 10px;
  height: 70px;
  border: 1px solid #e1e6ef;
}
.smallstat .linechart-overlay,
.smallstat .boxchart-overlay {
  width: 100px;
  height: 68px;
  padding: 20px 0;
  text-align: center;
  margin-right: 10px;
  float: left;
  overflow: hidden;
}
.smallstat .linechart-overlay.blue,
.smallstat .boxchart-overlay.blue {
  background: #36a9e1;
}
.smallstat .linechart-overlay.lightBlue,
.smallstat .boxchart-overlay.lightBlue {
  background: #67c2ef;
}
.smallstat .linechart-overlay.green,
.smallstat .boxchart-overlay.green {
  background: #bdea74;
}
.smallstat .linechart-overlay.darkGreen,
.smallstat .boxchart-overlay.darkGreen {
  background: #78cd51;
}
.smallstat .linechart-overlay.pink,
.smallstat .boxchart-overlay.pink {
  background: #e84c8a;
}
.smallstat .linechart-overlay.orange,
.smallstat .boxchart-overlay.orange {
  background: #fa603d;
}
.smallstat .linechart-overlay.lightOrange,
.smallstat .boxchart-overlay.lightOrange {
  background: #fabb3d;
}
.smallstat .linechart-overlay.red,
.smallstat .boxchart-overlay.red {
  background: #ff5454;
}
.smallstat .linechart-overlay.yellow,
.smallstat .boxchart-overlay.yellow {
  background: #eae874;
}
.smallstat .linechart-overlay.white,
.smallstat .boxchart-overlay.white {
  background: white;
}
.smallstat .piechart-overlay {
  width: 100px;
  height: 68px;
  padding: 15px 28px;
  text-align: center;
  margin-right: 10px;
  float: left;
  overflow: hidden;
}
.smallstat .piechart-overlay.blue {
  background: #36a9e1;
}
.smallstat .piechart-overlay.lightBlue {
  background: #67c2ef;
}
.smallstat .piechart-overlay.green {
  background: #bdea74;
}
.smallstat .piechart-overlay.darkGreen {
  background: #78cd51;
}
.smallstat .piechart-overlay.pink {
  background: #e84c8a;
}
.smallstat .piechart-overlay.orange {
  background: #fa603d;
}
.smallstat .piechart-overlay.lightOrange {
  background: #fabb3d;
}
.smallstat .piechart-overlay.red {
  background: #ff5454;
}
.smallstat .piechart-overlay.yellow {
  background: #eae874;
}
.smallstat .piechart-overlay.white {
  background: white;
}
.smallstat .piechart {
  color: white;
  font-size: 10px;
}
.smallstat i {
  text-align: center;
  display: block;
  color: white;
  width: 100px;
  height: 68px;
  font-size: 22px;
  line-height: 68px;
  float: left;
  margin-right: 10px;
}
.smallstat i.blue {
  background: #36a9e1;
}
.smallstat i.lightBlue {
  background: #67c2ef;
}
.smallstat i.green {
  background: #bdea74;
}
.smallstat i.darkGreen {
  background: #78cd51;
}
.smallstat i.pink {
  background: #e84c8a;
}
.smallstat i.orange {
  background: #fa603d;
}
.smallstat i.lightOrange {
  background: #fabb3d;
}
.smallstat i.red {
  background: #ff5454;
}
.smallstat i.yellow {
  background: #eae874;
}
.smallstat i.white {
  background: white;
}
.smallstat .title,
.smallstat .value {
  display: block;
  width: 100%;
  text-align: center;
}
.smallstat .value {
  padding-top: 16px;
  font-size: 16px;
}
.smallstat .title {
  color: #c0cadd;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}